@charset "UTF-8";

/* configurações gerais */

:root {
    --primary-blue: #003366; /* Azul escuro do cabeçalho e banner */
    --light-creme: #f5f5f0;  /* Cor creme das atividades */
    --text-color: #333;
    --heading-color: #003366;
    --link-color: #003366;
    --link-2-color: #aad;
    --bg-color: #ffffff;
    --footer-bg: #002244; /* Um azul um pouco mais escuro para o rodapé */
    --line-color: #335577;

    --main-font: Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: var(--main-font);
    line-height: 1.6;
}

.titulo {
    color: var(--heading-color);
    padding-bottom: 0.5em;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: auto;
}


/* HEADER */

header {
    padding: 10px 2em;
    /* border-bottom: 0.5px solid var(--text-color); */
}

.header__container {
    max-width: 1400px;
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    /* gap: 1em 5em; */
}

.header__logo {
    /* margin: auto; */

    display: flex;
    flex-direction: row;
    gap: 0.25em;
    align-items: center;
    justify-content: center;
}

.header__logo--imagem {
    width: 80px;
}

.header__logo--texto {
    font-size: 1em;
    font-weight: 500;
}

nav {
    /* margin: auto; */

    color: var(--link-color);

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 0 2em;
}


/* MAIN */


/* HERO */

.hero {
    padding: 2em 1em;
    color: white;
    background-color: var(--heading-color);
}

.hero__titulo {
    padding-bottom: 0.5em;
}

/* INFO */
 
.info {
    padding: 2em 1em;
 }

.info__descricao p {
    padding-bottom: 20px;
}

/* DADOS */

.dados {
    padding: 2em 1em;
    background-color: var(--light-creme);
}

.dados__analises {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2em 4em;
    margin: 2em auto;
}
.dados__dashboard .card {
    /* background-color: var(--bg-color); */
    border: 1px solid black;
    width: 400px;
    height: 200px;
}


/* FOOTER */

footer {
    padding: 3em 1em;
    color: white;
    background-color: var(--footer-bg);
    
    font-size: 14px;
}

footer.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.footer__subtitulo {
    font-weight: bold;
    margin-bottom: 1em;
}

.footer__link {
    color: var(--link-2-color);
}

.footer__copyright {
    border-top: 0.1px solid var(--line-color);
    padding-top: 1em;
    text-align: left;
}