@charset "UTF-8";

/* configurações gerais */

:root {
    --primary-blue: #003366; /* Azul escuro do cabeçalho e banner */
    --light-creme: #f5f5f0;  /* Cor creme das atividades */
    --text-color: #333;
    --heading-color: #003366;
    --link-color: #003366;
    --link-2-color: #aad;
    --bg-color: #ffffff;
    --footer-bg: #002244; /* Um azul um pouco mais escuro para o rodapé */
    --line-color: #335577;

    --main-font: Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: var(--main-font);
}

.titulo {
    padding-bottom: 0.5em;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* HEADER */

header {
    padding: 0.5em 2em;
    /* border-bottom: 0.5px solid var(--text-color); */
    

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1em 2em;
}

.header__logo {
    /* margin: auto; */

    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.header__logo--imagem {
    width: 80px;
}

.header__logo--texto {
    font-size: 20px;
    font-weight: 500;
}

nav {
    /* margin: auto; */

    color: var(--link-color);

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 0 2em;
}


/* MAIN */

section {
    padding: 2em 1em;
}


/* HERO */

.hero {
    color: white;
    background-color: var(--heading-color);
}


/* DADOS */

.dados {
    background-color: var(--light-creme);
}


/* FOOTER */

footer {
    color: white;
    background-color: var(--footer-bg);
    
    padding: 1em;
    font-size: 14px;
}

.container {
    padding: 2em 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;

}

.footer__subtitulo {
    font-weight: bold;
    margin-bottom: 1em;
}

.footer__link {
    color: var(--link-2-color);
}

.footer__copyright {
    border-top: 0.1px solid var(--line-color);
    padding-top: 1em;
    text-align: left;
}
